.general:hover {
    cursor: pointer;
    background-color: #1c1c2c;
}

.row:hover {
    /* cursor: pointer; */
    background-color: #1c1c2c;
}

.user:hover {
    cursor: pointer;
    background-color: lightgreen;
}